*{
    padding: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    list-style: none;
}

body{
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    
}

.menu{
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    height: 320px;
    background-size: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0 40px;
    color: #fff;
}

.menu a{
     color: #fff;   
     font-weight: 600px;
}

form{
    padding: 10px;
    width: 100%;
    height: 360px;
    background-color: silver;
    box-shadow: 10px;
    justify-content: center;
    text-align: center;  
    border-style: none;
    padding-bottom: 80px;
}

.wrapper input {
    border: 2px solid white;
    box-shadow: 3px;
    border-radius: 6px;
    margin: 5px;
    /*text-align: center;*/
    /*追加コード*/
    width: 200px;
    
}
.wrapper textarea{
    border: 2px solid white;
    box-shadow: 3px;
    border-radius: 6px;
    margin: 5px;
    width: 200px;
    /*横方向の拡大を禁止*/
   /* resize: vertical;*/
   vertical-align: top;
}

.btn{
    border-radius: 6px;
    padding: 2px 100px;
    top:70px;
}


footer{
    background-color:grey;
    width: 100%;
    padding:30px;
    font-weight: 600px;
}

.footer-menu{
    display: flex;
    justify-content: center;
    padding-top: 16px;
}
.footer-menu li{
  width: 16px;
  padding: 10px;
}

.footer-menu a{
    color:#fff;
    list-style: none;
}
.footer-menu i{
    color:#fff;
}


