<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{css/blog.css}">
	<link th:href='@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}' rel='stylesheet'>
	<title>Flower blog</title>
</head>

<body>
	<header>
		<!-------This is menu list-->
		<h1>My Flowers</h1>
		<nav>
			<!-- <a href="#">About</a>
            <a href="#">Blog</a>
            <a href="#">Register</a>
            <a href="#">Contact Me</a>
            <i class='bx bx-search'></i><input type="search-input" placeholder="Search">     -->
			<ul class="menu">
				<li><a href="#">About</a></li>
				<li><a th:href="@{/blog_register}">Blog Register</a></li>
				<li><a th:href="@{/blog_edit}">Blog Category</a></li>
				<li> <a th:href="@{/login}">Logout</a></li>
				<li> <i class='bx bx-search'></i><input type="search-input" placeholder="Search"></li>
			</ul>
		</nav>

	</header>
	<!-------This is top picture-->
	<!-- <div class="mainvisual">
        <img src="./img/pic3.jpg" alt="">
    </div>
    <div> -->

	<!-------This is flower corner (middle)-->
	<h2>Flower Theme Blogs</h2>

	<div class="flower-corner">
		<img src="./image/pic5.jpeg" alt="">
		<img src="./image/pic8.jpeg" alt="">
		<img src="./image/pic7.jpeg" alt="">
	</div>
	<!-------This is my personal article-->

	<div class="Blog">
		<h3>My Daily Blog</h3>
	</div>
	<div>
		<div class="card" th:each="blog:${blogList}">
			<a th:href="'/blog_edit/' + ${blog.blogId}">
				<img th:src="@{/image/pic1.jpg}" alt="">
				<p th:text="${blog.blogTitle}"></p>
				<p th:text="${blog.blogCategory}"></p>
			</a>
			<!--<button class="btn">Edit</button>-->
			<!--<button class="btn">Delete</button>-->
			<!-- <p1>There's a certain poetic notion to flowers and how they make us feel.</p1> -->
			<!-- <img src="image/pic2.jpg" alt="">-->
			<!-- <button class="btn">Edit</button>-->
			<!-- <button class="btn">Delete</button>-->
			<!-- <p2>Wedding flowers as timeless and magical as your love.</p2> -->

		</div>
	</div>
	<!-------This is footer-->
	<footer>
		<div>
			<p>910 Pecan Avenue Charlotte, NC 28205</p>
			<p>MON-FRI 9am-6pm SAT 10am-3pm</p>
			<ul class="footer-menu">
				<li><a href=""><i class='bx bxl-facebook-circle'></i></a></li>
				<li><a href=""><i class='bx bxl-instagram'></i></a></li>
				<li><a href=""><i class='bx bxl-tiktok'></i></a></li>
			</ul>
			<p>Copyright<small>&copy;Min's Blog</small></p>
		</div>
	</footer>
</body>

</html>