*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

/*Bodyの範囲*/
body{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background: url(../image/Nectar_012022_0021+29.jpg) no-repeat;
    background-size: cover;
}

/*Formの範囲あるいは外側の線*/
.wrapper{
    width: 460px;
    color: white;
    box-shadow:0 0 50px rgb(82, 80, 80) ;
    border: 2px solid grey;
    border-radius:10px ;
    padding: 40px;
    gap: 20px;
}

/*タイトルの部分*/
.wrapper h1{
    text-align: center;
    font-weight: 600px;
    padding: 10px;
}

/*Bodyの範囲*/
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}
/*各要素の部分*/
.input-box input{
    width: 100%;
    height: 100%;
    padding: 15px;
    outline: 2px;
    background: transparent;
    border:2px solid white;
    border-radius: 40px;
    box-sizing: border-box; 
    margin-top: 5px;
}

/*アイコンの部分*/
.input-box i{
    position: absolute;
    font-size: 20px;
    top: 75%;
    right:20px;
}

/*Typingのエリア*/
.input-box input::placeholder{
    color: #fff;
    
}

/*ボダンの部分*/
.wrapper .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 20px;
    border: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background:rgb(241, 237, 237);  
    font-weight: 600;
    cursor: pointer;
}

/*Rememberの部分*/
.wrapper .Remember{
    padding: 10px;
}








